/*
Project Name: Final Project
Author: Clare Ralston
*/

/******************************************
/* SETUP
/*******************************************/

html, body, ul, ol, li, form, fieldset, legend {
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 2% 0;
}

fieldset,img {
    border: 0;
}

legend {
    color: #000;
}

li {
    list-style: none;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

input, textarea, select {
    font-size: 110%;
    line-height: 1;
    border: none;
}

input:focus {
    outline: 0;
}

abbr, acronym {
    border-bottom: .1em dotted;
    cursor: help;
}

/******************************************
/* BASE STYLES
/******************************************/

body {
    font-weight: 400;
    color: #2f2f2f;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
    color: #0099cc;
}

a:hover { 
    color: #026688;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
    padding: 2% 5%;
    text-shadow: 1px 1px #2f2f2f;
    background: url(../images/welcome.jpg) no-repeat center center fixed;

}

h2 {
    font-size: 22px;
    font-weight: 600px;    
}

h3 {
    font-size: 18px;
    font-weight: 600px;
}

.intro {
    margin: 2% 5%;
    font-size: 18px;
}

@media only screen and (max-width: 1200px) {
    .intro {
        font-size: 16px;
    }
}

@media only screen and (max-width: 960px) {
    .intro {
        font-size: 14px;
    }
}

/******************************************
/* LAYOUT
/******************************************/

/* header elements */

.welcome {
    background: url(../images/welcome.jpg) no-repeat center center fixed;
}

header {
    height: 80px;
    padding: 0 2%;
    background-color: #ffffff;
}

header #logo {
    float: left;
    padding: 15px 0 0 0;
}

header .desktop ul li a {
    font-size: 14px;
    font-weight: 700;
    color: #2f2f2f;
    text-transform: uppercase;
    margin: 15px 20px 0 20px;
    padding: 15px 0 0 0;
    display: inline-block;
    float: right;
    width: none;
}

.mobile {
    float: right;
    margin: 15px 20px 0 20px;
    padding: 15px 10px 10px 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(256,256,256,0.7);
}

.mobile a {
    color: #2f2f2f;
}

.hide {
  display: none;
}

@media only screen and (max-width: 960px) {
  .desktop {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  header .desktop ul li a {
    display: block;
    font-size: 14px;
    margin: 0px;
  }
}

@media only screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
}

/* home page elements */

#welcome {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 56px;
    padding: 200px 0 30px 0;
}

#welcome-note {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

@media only screen and (max-width: 960px) {
    #welcome {
        font-size: 42px;
    }
    #welcome-note {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    #welcome {
        font-size: 36px;
    }
    #welcome-note {
        font-size: 14px;
    }
}

#container-btn {
    width: 40%;
    margin: 0 auto;
}

.green-btn {
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #71BE3C;
    width: 200px;
    padding: 12px;
    text-align: center;
    margin: 50px 0px;
    border-radius: 4px;
    float:left;
}

.green-btn:hover { 
    background-color: #477725;
}

.blue-btn {
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #0099cc;
    width: 200px;
    padding: 12px;
    text-align: center;
    margin: 50px 0px;
    border-radius: 4px;
    float:right;
}

.blue-btn:hover { 
    background-color: #026688;
}

.green-btn a {
    color: #ffffff;
}

.blue-btn a {
    color: #ffffff;
}

@media only screen and (max-width: 1200px) {
    .green-btn {
        font-size: 12px;
        width: 150px;
    }
    .blue-btn {
        font-size: 12px;
        width: 150px;
    }
}

@media only screen and (max-width: 960px) {
    .green-btn {
        font-size: 10px;
        width: 120px;
        margin: 30px auto;
        padding: 12px;
        float: none;
    }
    .blue-btn {
        font-size: 10px;
        width: 120px;
        margin: 30px auto;
        padding: 12px;
        float: none;
    }
}

/* column elements */

.two-col {
    padding: 2% 3% 5% 3%;
}

.one-half-col {
    width: 44%;
    height: 550px;
    margin: 0 3% 5% 3%;
    float: left;
}

@media only screen and (max-width: 1200px) {
    .one-half-col {
        width: 44%;
        height: 450px;
        float: left;
    }
}

@media only screen and (max-width: 960px) {
    .one-half-col {
        width: 90%;
        height: 300px;
        float: none;
    }
    .one-half-col p {
        margin-top: 4%;
    }
    .one-half-col img {
        width: 50%;
        float: left;
        margin-right: 3%;
    }
}

@media only screen and (max-width: 768px) {
    .one-half-col {
        width: 90%;
        height: auto;
    }
    .one-half-col img {
        width: 90%;
        float: none;
    }
}

.three-col {
    padding: 2% 3%;
    margin: 0% 0;
}

.one-third-col {
    width: 29%;
    margin: 0 2.1%;
    padding: 0 0 5% 0;
    float: left;
}

.two-third-col {
    width: 55%;
    padding: 0 0 5% 0;
    float: left;
}

@media only screen and (max-width: 768px) {
    .one-third-col {
        width: 100%;
        padding: 3% 0;
        clear: both;
    }
}

.four-col {
    padding: 2% 3%;
}

.four-col-one {
    width: 20%;
    margin: 0 2.3%;
    padding: 0 0 5% 0;
    float: left;
}

.four-col-two {
    width: 20%;
    margin: 0 2.3%;
    padding: 0 0 5% 0;
    float: left;
}

.four-col-three {
    width: 20%;
    margin: 0 2.3%;
    padding: 0 0 5% 0;
    float: left;
}

.four-col-four {
    width: 20%;
    margin: 0 2.3%;
    padding: 0 0 5% 0;
    float: left;
}

@media only screen and (max-width: 980px) {
    .four-col-one {
        width: 39%;
        padding: 3% 2% 6% 2%;
        float: left;
    }
    .four-col-two {
        width: 39%;
        padding: 3% 2% 6% 2%;
        float: left;
    }
    .four-col-three {
        width: 39%;
        padding: 3% 2% 6% 2%;
        float: left;
    }
    .four-col-four {
        width: 39%;
        padding: 3% 2% 6% 2%;
        float: left;
    }
}

@media only screen and (max-width: 768px) {
    .four-col-one {
        width: 90%;
        padding: 3% 0;
        clear: both;
    }
    .four-col-two {
        width: 90%;
        padding: 3% 0;
        clear: both;
    }
    .four-col-three {
        width: 90%;
        padding: 3% 0;
        clear: both;
    }
    .four-col-four {
        width: 90%;
        padding: 3% 0;
        clear: both;
    }
}

/* callout elements */

.callout {
    font-size: 20px;
    font-weight: 600;
    margin: 50px 5%;
    padding: 30px 5%;
    background-color: #d3d3d3;
    border-radius: 4px;
    clear: both;
}

.callout-btn {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #0099cc;
    width: 170px;
    margin-top: -10px;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
    float: right;
}

.callout-btn a {
    color: #ffffff;
}

.callout-btn:hover { 
    background-color: #026688;
}

@media only screen and (max-width: 900px) {
    .callout {
        margin: 50px 5%;
        text-align: center;
    }
    .callout-btn {
        float: none;
        margin: 15px auto;
    }
}

@media only screen and (max-width: 768px) {
    .callout {
        margin: 50px 5%;
        text-align: center;
        font-size: 16px;
    }
    .callout-btn {
        float: none;
        margin: 15px auto;
        font-size: 14px;
    }
}

/* portfolio elements */

.one-half-col img:hover {
    size: 120%;
}

/* form elements */

form {
    width: 40%;
    padding: 3% 5%;
    float: left;
    font-weight: 400;
    color: #2f2f2f;
}

label {
    color: #2f2f2f;
}

input, textarea, select {
    font-weight: 300;
    color: #2f2f2f;
    font-size: 14px;
    background-color: rgba(113,190,60,0);
    width: 300px;
    border-radius: 4px;
}

.form-row {
    padding: 3% 0;
    font-weight: 600;
}

.short-fields {
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    background-color: rgba(113,190,60,0.4);
    width: 300px;
    margin: 10px 0;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
}

.message-fields {
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    background-color: rgba(113,190,60,0.4);
    width: 300px;
    margin: 10px 0;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
}

.submit-btn {
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #71BE3C;
    width: 170px;
    margin: 10px 0;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
}

.submit-btn:hover { 
    background-color: #477725;
}

/* contact page elements */

.contact {
    width: 40%;
    padding: 3% 5%;
    float: left;
}

@media only screen and (max-width: 768px) {
    .contact {
        padding: 3% 5%;
        float: none;
    }
}

/******************************************
/* ADDITIONAL STYLES
/******************************************/

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?4msp27');
    src:url('fonts/icomoon.eot?4msp27#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?4msp27') format('truetype'),
        url('fonts/icomoon.woff?4msp27') format('woff'),
        url('fonts/icomoon.svg?4msp27#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e800";
}
.icon-envelop:before {
    content: "\e801";
}
.icon-location:before {
    content: "\e802";
}
.icon-bubbles2:before {
    content: "\e803";
}
.icon-cogs:before {
    content: "\e804";
}
.icon-magic-wand:before {
    content: "\e805";
}
.icon-leaf:before {
    content: "\e806";
}